@import "variables";
@import "mixins";

.btn {
	display: inline-block;
	padding: 0.7rem 3rem;
	background: transparent;
	color: $blue;
	border: solid $blue 2px;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	@include transition(0.5s);
	&:hover {
			background: $blue;
			border: solid $blue 2px;
			color: $white;
			@include transition(0.5s);
	}
	@include breakpoint($tablet) {
			width: 40%;
			text-align: center;
			margin-bottom: 1em;
			padding: 0.5em;
	}
	@include breakpoint($phone) {
				width: 80%;
				text-align: center;
				margin-bottom: 1em;
				padding: 0.5em;
				margin-right: auto;
				margin-left: auto;
	}
}

.call-btn {
	display: none;
	
	@include breakpoint($tablet) {
		display: inline-block;
		margin-left: 1rem;
	}

	@include breakpoint($phone) {
		margin-left: 0;
	}
}

.btn-blue {
	background-color: $blue;
	color: #FFF;
	margin-top: 1rem !important;
	
	&:hover {
		background-color: darken($blue, 20);
	}
}
