// Color Palette
$blue: #13b6e4;
$lightgray: #ebebeb;
$gray: #1e1d1a;
$white: #fff;
$black: #000;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);