@import "susy";
@import "breakpoint";

//variables
@import "variables";

//mixins
@import "mixins";

//partials
@import "buttons";

//fonts
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic';

//Susy settings
$susy: (
  columns: 12,
  gutter-position: inside,
  gutters: 1/4,
  math: fluid,
  output: float,
);

*, :after, :before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

section:before {
	clear: both;
}



nav {
	width: 100%;
	height: 80px;
	background-color: #FFF;
	
	.nav-container {
		@include container(1000px);
		padding-left: 0;
		padding-right: 0;
		
		.brand {
			@include span(6 first);
			padding-top: 25px;
			
			img {
				@include breakpoint($phone) {
					width: 190px;
					margin-top: 0.5rem;
				}
			}
			
			
		}

		.phones {
			@include span(6 last);
			text-align: right;
			@include breakpoint($phone) {
				display: none;
			}
			a {
				color: $gray;
				text-decoration: none;
				@include transition(0.5s);
				
				&:hover {
					color: $blue;
					text-decoration: underline;
				}
			}
		}
	}
}

header {
	height: 500px;
	background: url(../img/header-bg.jpg) center center no-repeat;
	@include background-size(cover);
	color: #FFF;
	
	@include breakpoint($phone) {
		height: 650px;
	}
	
	.container {
		@include container(1000px);
		padding-top: 3rem;
		
		h1 {
			font-size: 2.5rem;
			
			@include breakpoint($phone) {
				font-size: 2rem;
			}
		}

		h2 {
			color: orange;
			
			span {
				color: #fff;
			}
		}

		h3 {
			font-weight: 400;
			margin-bottom: 2rem;
		}
	}
}

#thank-you {
	.container {
		@include container(1000px);
		padding-top: 6rem;
	}
}

#games-top {
	height: 300px;
	background: url(../img/games-bg.jpg) center center no-repeat;
	@include background-size(cover);
	color: #FFF;
	
	.container {
		@include container(1000px);
		padding-top: 3rem;
		
		h2 {
			font-size: 3rem;
			color: #fff;
			
			
			@include breakpoint($phone) {
				font-size: 2rem;
			}
		}

		h3 {
			font-weight: 400;
			margin-bottom: 2rem;
		}
	}
}

#games {
	padding: 80px 0;
	
	.container {
		@include container(1000px);
		
		.game-block {
			margin-bottom: 2rem;
			@include span(4);
		}

		.list {
			@include span(12);
		}
	}
}

#action-top {
	padding: 40px 0;
	height: 400px;
	background: url(../img/action-top-bg.jpg) top center no-repeat;
	@include background-size(cover);
	border-bottom: 1px solid transparentize($gray, 0.8);
	@include breakpoint($tablet) {
		background-position: right;
	}
	
	.container {
		@include container(1000px); 
		color: $gray;
		
		.text {
			@include span(6 last);
			padding-top: 4rem;
			
			@include breakpoint($tablet) {
				@include span(12);
			}

			h3 {
				font-weight: normal;
				
				span {
					color: $blue;
					font-weight: bold;
				}
			}
		}

	}
}

#about {
	padding: 80px 0;
	background: url(../img/about-bg.jpg) center center no-repeat;
	@include background-size(cover);
	
	.container {
		@include container(1000px);
		
		.wow-effect {
			@include span(6 first);
			text-align: center;
			color: $gray;
			@include breakpoint($phone) {
				@include span(12);
			}
			
			h2 {
				color: $blue;
				margin-bottom: 0;
				margin-top: 0;
				font-size: 5rem;
				line-height: 1;
			}

			h4 {
				font-size: 4.4rem;
				margin-top: 0rem;
				margin-bottom: 0;
				line-height: 1;
			}

			h5 {
				font-size: 2.8rem;
				text-transform: uppercase;
				margin-bottom: 0;
				margin-top: 0;
				line-height: 1.2;
			}
		}

		.text {
			@include span(6 last);
			@include breakpoint($phone) {
				@include span(12);
			}
		}
	}
}

#presentation {
	height: 100%;
	position: relative;
	background-color: $black;

	
	.video-block {
		margin: 0 auto;
		display: block;
		
		video {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
	}
	
	.btn-video {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
}

#features {
	background-color: $blue;
	color: #FFF;
	padding: 80px 0 100px;
	
	.container {
		@include container(1000px);

		.text {
			@include span(6 first);
			@include breakpoint($phone) {
				@include span(12);
			}
			h2 {
				font-size: 2rem;
			}

			p {
				font-size: 1.2rem;
			}
		}

		.img {
			@include span(6 last);
			@include breakpoint($phone) {
				@include span(12);
			}
			padding-top: 4rem;
			
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
			}
		}
	}
}

#prices {
	background: url(../img/price-bg.jpg) center center no-repeat;
	@include background-size(cover);
	padding: 80px 0;
	
	.container {
		@include container(1000px);
		text-align: center;
		
		.price-col {
			@include span(4);
			@include breakpoint($phone) {
				@include span(12);
				margin-bottom: 2rem;
			}
			
			.price-block {
				display: block;
				margin: 0 auto;
				width: 80%;
				height: 260px;
				background-color: transparentize($white, 0.5);
				color: $gray;
				padding-top: 0.6rem;
				
				p.light {
					font-size: 1.2rem;
				}
				
				p.price {
					width: 100%;
					background-color: $blue;
					display: inline-block;
					color: #FFF;
					font-size: 2rem;
					margin-top: 0;
					margin-bottom: 0;
					font-weight: 700;
					padding-top: 1rem;
					padding-bottom: 1rem;
				}

				p.extra-hour {
					padding: 0 1rem;
				}
			}
		}

		.btn {
			text-align: center;
			margin-top: 3rem;
		}
	}
}

#prices-b {
	background: url(../img/price-bg.jpg) center center no-repeat;
	@include background-size(cover);
	padding: 80px 0;
	
	.container {
		@include container(1000px);
		text-align: center;
		
		.price-col {
			@include span(4);
			@include breakpoint($phone) {
				@include span(12);
				margin-bottom: 2rem;
			}
			
			.price-block {
				display: block;
				margin: 0 auto;
				width: 80%;
				//height: 260px;
				background-color: transparentize($white, 0.5);
				color: $gray;
				padding: 0.6rem 0;
				
				p.light {
					font-size: 1.5rem;
				}
				
				p.price {
					width: 100%;
					background-color: $blue;
					display: inline-block;
					color: #FFF;
					font-size: 2rem;
					margin-top: 0;
					margin-bottom: 0;
					font-weight: 700;
					padding-top: 1rem;
					padding-bottom: 1rem;
				}

				p.extra-hour {
					padding: 0 1rem;
				}
			}
		}

		.btn {
			text-align: center;
			margin-top: 3rem;
		}
	}
}

#services {
	padding: 120px 0;
	background-color: #FFF;
	color: $gray;
	
	i {
		color: $blue;
	}

	.container {
		@include container(1000px);
		
		a {
			color: $blue;
		}
		
		.service-col {
			@include span(4);
			text-align: center;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			@include breakpoint($phone) {
				@include span(12);
				margin-bottom: 4rem;
			}
			
			.icon {
				color: $blue;
				font-size: 6rem;
				margin-bottom: 0;
				margin-top: 0;
				line-height: 1;
			}

			h4 {
				margin-bottom: 0;
				font-size: 1.7rem;
			}

			p {
				text-align: left;
				padding-left: 1.5rem;
				@include breakpoint($phone) {
					padding-left: 0;
				}
			}

			a i {
				font-size: 1.5rem;
				margin-right: 1rem;
			} 
		}
	}
}

#action {
	padding: 100px 0;
	background: url(../img/action-bg.jpg) center center no-repeat;
	@include background-size(cover);
	@include breakpoint($phone) {
		background-position: right;
	}
	
	.container {
		@include container(1000px);
		color: $gray;
		
		.text {
			@include span(6 last);
			@include breakpoint($phone) {
				@include span(12);
			}
			
			h2 {
				text-transform: uppercase;
				font-size: 2rem;
			}

			p {
				font-size: 1.5rem;
				text-transform: uppercase;
			}
		}
	}
}

footer {
	background-color: $gray;
	color: #FFF;
	padding: 40px 0 20px;
	
	.container {
		@include container(1000px);
		
		.left-side {
			@include span(6 first);
			padding-top: 40px;
			@include breakpoint($phone) {
				@include span(12);
			}
		}

		.right-side {
			@include span(6 last);
			text-align: right;
			@include breakpoint($phone) {
				@include span(12);
				text-align: left;
			}
			
			p {
				margin-bottom: 0;
				line-height: 1.2;
				font-size: 1.4rem;
			}
			
			a {
				text-decoration: none;
				color: #FFF;
				@include transition(0.5s);
				
				&:hover {
					color: $blue;
					@include transition(0.5s);
				}
			}

			i {
				font-size: 2rem;
				margin-left: 1rem;
				margin-top: 0;
				
				@include breakpoint($phone) {
					margin-right: 1rem;
					margin-left: 0;
					margin-top: 1rem;
				}
			}
		}
	}
}

@include breakpoint($tablet) {
	.container, nav .nav-container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.remodal {
	background: $white;
	border-bottom: 3px solid $blue;

	.remodal-close {
		top: -50px;
		left: 710px;
		opacity: 0.7;
		@include transition(0.6s);
		@include breakpoint($phone) {
			left: 0;
		}

		&:hover {
			@include transition(0.6s);
			@include transform(rotate(90deg) scale(1.2));
			@include transform-origin(50% 50%);
			opacity: 1;
			
		}
	}

	.remodal-close:before {
		display: none;
	}

	.remodal-close span:nth-child(1) {
		position: absolute;
		top: 16px;
		left: -2px;
		height: 2px;
		width: 40px;
		background-color: $white;
		@include transform(rotate(45deg));
	}

	.remodal-close span:nth-child(2) {
		position: absolute;
		top: 16px;
		left: -2px;
		height: 2px;
		width: 40px;
		background-color: $white;
		@include transform(rotate(135deg));
	}
}

.text-modal {
	max-width: 100%;
	text-align: left;

	h4 {
		font-weight: 300;
		font-size: 1.1rem;
		margin-top: 0;
	}
}

.law {
	max-width: 100%;
	text-align: left;

	p {
		font-weight: 300;
		font-size: 0.8rem;
		margin-top: 2rem;
		margin-bottom: 0;
	}
}

.form-modal {
	width: 100%;
	.input {
		input {
			width: 100%;
			height: 40px;
			margin-bottom: 1rem;
			padding-left: 1rem;
			outline-color: $gray;
		}
	} 

	.btn {
		width: 100%;
	}
}